@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
.search{
    height: 40vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    
}
.search .content{
    position: relative;
    z-index: 2;
    color: #fff;
    text-align: center;
}
.search h1{
  font-size: 2.65rem;
  font-weight: 700;
}
.search p{
    font-size: 1.5rem;
    margin-top: 8px;
}
.search .search-box{
    height: 55px;
    margin: 45px 0;
    position: relative;
}
.search-box input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding-left: 55px;
    border-radius: 10px;
    font-size: 1.1rem;
}
.search-box i{
    position: absolute;
   left: 20px;
   top: 50%;
   transform: translateY(-50%);
   color: #8d8d8d;
}
.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery .images{
    columns: 5 340px;
    gap: 15px;
    margin-top: 40px;
    max-width: 95%;
}
.images img{
    width: 100%;
}
.images .card{
    list-style: none;
    margin-bottom: 14px;
    border-radius: 5px;
    position: relative;
    display: flex;
    overflow: hidden;
}
input, button, i{
    outline: none;
    border: none;
    border-radius: 5px;
}
.gallery .load-more{
    margin: 50px 0;
    font-size: 1.2rem;
    background-color: #8a6cff;
    padding: 12px 27px;
    color: #fff;
    cursor: pointer;
}
.images .card .details{
    position: absolute;
    top: -100%;
    width: 100%;
    padding: 15px 20px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .5s;
}
.images .card:hover .details{
    top: 0;
}
.photographer{
    color: #fff;
    display: flex;
    align-items: center;
}
.photographer i{
    font-size: 1.4rem;
    margin-right: 10px;
}
.details .photographer span{
    font-size: 1.05rem;
}
.card .details button{
    padding: 3px 8px;
    font-size: 1.1rem;
    background-color: #fff;
    cursor: pointer;
}
.light-box{
    position: fixed;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    display: none;
}
.light-box .wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    max-width: 850px;
    padding: 20px;
}
.preview-img{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.wrapper .preview-img .img{
    max-height: 65vh;
    max-width: 90vh;
}
.wrapper .preview-img .img img{
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}
.wrapper header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .photographer i{
    font-size: 1.7rem;
}
header .photographer span{
    font-size: 1.2rem;
}
header .photographer{
    color: #333;
}
header .buttons i{
    width: 40px;
    height: 40px;
    display: inline-block;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #8a6cff;
    color: #fff;
    text-align: center;
    line-height: 40px;
}
.buttons i:last-child{
    margin-left: 10px;
    background-color: #6c757d;
}